<section class="usuarios">
  @if (mensagemErro()) {
    <app-ui-alerta variante="erro">{{ mensagemErro() }}</app-ui-alerta>
  }

  <app-cabecalho-usuarios
    [totalRegistros]="usuariosFiltrados().length"
    [termoBusca]="termoBusca()"
    (novoUsuario)="iniciarCadastro()"
    (buscaAlterada)="atualizarBusca($event)"
  >
    <app-tabela-usuarios
      [carregando]="carregando()"
      [usuarios]="usuariosPaginados()"
      [paginaAtual]="paginaAtual()"
      [totalPaginas]="totalPaginas()"
      (editar)="editar($event)"
      (excluir)="solicitarExclusao($event)"
      (paginaAlterada)="irParaPagina($event)"
    />
  </app-cabecalho-usuarios>

  <app-drawer-usuario-formulario
    [aberto]="formularioAberto()"
    [emEdicao]="!!usuarioEmEdicao()"
    [salvando]="salvando()"
    [formulario]="formulario"
    [cargosDisponiveis]="cargosDisponiveis"
    (fechar)="fecharFormulario()"
    (salvar)="salvar()"
  />

  <app-modal-exclusao-usuario
    [usuario]="usuarioPendenteExclusao()"
    [excluindo]="excluindo()"
    [mensagemErro]="mensagemErroExclusao()"
    (cancelar)="cancelarExclusao()"
    (confirmar)="confirmarExclusao()"
  />
</section>
